# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env

# Testing & Reports
reports/
allure-results/
allure-report/
allure-html/

# Scratch & Temp Files & local test
scratch/
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
